<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week4 會員登入頁面</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='week4.css') }}" />
    
</head>
<body>
<div id="title">歡迎光臨,請輸入帳號密碼</div> 
<div id=signin>
    <div>
        <h3>登入系統</h3>
            <form action="/signin" method="POST">
                帳號 <input type="text" name="name" /><br/>
                密碼 <input type="password" name="password" /><br/>
                <button>登入</button>
            </form>  
    </div>        
</div>
</body>
</html>